if TARGET_STREAM195X

config SYS_BOARD
	default "stream195x"

config SYS_VENDOR
	default "streamunlimited"

config SYS_CONFIG_NAME
	default "stream195x"

source "board/streamunlimited/common/Kconfig"
source "board/streamunlimited/fsl_common/Kconfig"

endif
